<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poker Hand Recorder</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="home-page">Home</div>
    <a href="/hand-save">Save new hand</a>
    <% for(hand of data) { %>
        <p>
            id:  <%= hand._id  %>
            number of players:  <%= hand.numberOfPlayers  %>
            blinds: sb: <%= hand.sb  %> bb: <%= hand.sb  %>
            date created: <%= hand.dateCreated  %>
            <form action="/<%= hand._id  %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
        </p>
    <% } %>
<%- include('partials/footer'); -%>
