<%- include('partials/header'); -%>
<a href="/">Home</a>
    <div class="floor">
      <div class="table">
        <div class="table-felt"></div>
        <div class="table-rim"></div>
        <div class="table-info">
          <div class="number-of-players">Number of Players: <%= data['number-of-players'] %></div>
          <div class="blinds">SB: <%= data.sb %> / BB: <%= data.bb %></div>
        </div>

        
        <% for(let i = 0; i < data['number-of-players']; i++) { %> 
        <div class="player-input-<%= i+1 %> hidden" id="player-input-<%= i+1 %>">
            <div class="box"><h2>Player <%= i+1 %> </h2></div>
          <div class="box">
            <label for="player-name">Player Name:</label>
            <input type="text" name="player-name" id="player-name" />
          </div>
          <div class="box">
            <label for="player-stack-size">Stack Size:</label>
            <input
              type="number"
              name="player-stack-size"
              id="player-stack-size"
            />
          </div>
          <div class="box">
            <label for="player-cards">Cards:</label>
            <input type="text" name="player-cards" id="player-cards" />
          </div>
          <button id="player-save-<%= i+1 %>">Save</button>
        </div>
        <% } %>  

        <div class="player-action hidden">
          <div class="box">
            <label for="check">Check</label>
            <input type="radio" id="check" name="players-action" value="check">
          </div>
          <div class="box">
            <label for="fold">Fold</label>
            <input type="radio" id="fold" name="players-action" value="fold">
          </div>
          <div class="box">
            <label for="call">Call</label>
            <input type="radio" id="call" name="players-action" value="call">
          </div>
          <div class="box">
            <label for="check">Bet</label>
            <input type="radio" id="bet" name="players-action" value="bet">
            <input type="range" name="player-bet-size" id="player-bet-size" />
          </div>
        </div>

        <div class="sb-chip">SB</div>
        <div class="bb-chip">BB</div>
        <div class="bn-chip">BN</div>
        <% for(let i = 0; i < data['number-of-players']; i++) { %> 
              <div class="seat-<%= i+1 %>"  id="seat-<%= i+1 %>"></div> 
         <% } %>    
      </div>
    </div>
    <script src="../tableFunctions.js"></script>  
<%- include('partials/footer'); -%>